body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    background: linear-gradient(135deg, #ff6b6b, #f06595); /* Gradiente rosa */
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#initial-page,
#response-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.8); /* Fundo escuro para destaque */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: absolute; /* Permitir sobreposição */
    width: 100%; /* Garantir que o conteúdo ocupe a largura total */
    height: 100%; /* Garantir que o conteúdo ocupe a altura total */
}

#initial-page.hidden,
#response-page.hidden {
    display: none;
}

h1 {
    font-size: 3em; /* Maior tamanho para destaque */
    margin: 0;
    font-weight: bold;
    color: 
